$fontName: "Lato";
$backgroundColor: #363636;
$shapeBackgroundColor: #525252;
$shapeColor: #3a5b83;
$black: #000000;

@font-face
{
	font-family: $fontName;
	src: url("../fonts/Lato/lato.eot");
	src: url("../fonts/Lato/lato.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Lato/lato.woff2") format("woff2"),
	     url("../fonts/Lato/lato.woff") format("woff"),
	     url("../fonts/Lato/lato.ttf") format("truetype"),
	     url("../fonts/Lato/lato.svg#laot") format("svg");
	font-weight: normal;
	font-style: normal;
}

.qs
{
  	font-family: $fontName;
	background-color: $backgroundColor;
	color: $shapeColor;
}

#main-clock
{
    font-size: 800%;
}

#main-searchInput
{
	transition: background-color 200ms, border 200ms, color 200ms;
	padding: 6px;
	background-color: $backgroundColor;
	border: 2px solid $shapeColor;
	color: $shapeColor;
}

#main-searchInput:focus
{
	background-color: $shapeBackgroundColor;
	border: 2px solid $shapeBackgroundColor;
	color: $black;
}

@import "bootstrap-override.scss";
@import "cover.scss";